:root {
  --lt-padding-left: 2.5mm;
  --lm-padding-left: 9mm;
  --lb-padding-left: 2.5mm;

  --key-width: 32.611px; /*1024*6.25/196.25*/
  --key-margin-horizontal: 9.131px; /*1024*1.75/196.25*/
  --key-height: 41.725px; /*768*8.0/147.25*/
  --key-margin-vertical: 9.127px; /*768*1.75/147.25*/
  --key-radius: 4px;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-color: gray;
  margin: 0;
}

#values > p {
  margin: 0;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: yellowgreen;
}

/********* left keyboard *********/
#left_keyboard {
  float: left;
  background-color: darkgray;
}

.left_row {
  list-style-type: none;
  height: var(--key-height);
  margin: 0 0 var(--key-margin-vertical) 0;
}

#left_top {
  padding-left: var(--lt-padding-left);
}

#left_middle {
  padding-left: var(--lm-padding-left);
}

#left_bottom {
  padding-left: var(--lb-padding-left);
}

.left_key {
  background-color: gray;
  float: left;
  width: var(--key-width);
  height: var(--key-height);
  margin-right: var(--key-margin-horizontal);
  border-radius: var(--key-radius);
  text-align: center;
}

/********* right keyboard *********/
#right_keyboard {
  float: right;
  padding-right: 0;
  background-color: darkgray;
}


.right_row {
  list-style-type: none;
  height: var(--key-height);
  margin: 0 0 var(--key-margin-vertical) 0;
  padding-right: 2.5mm;
}

/* 
#right_top {
}

#right_middle {
}

#right_bottom {
} */

.right_key {
  background-color: gray;
  float: right;
  width: var(--key-width);
  height: var(--key-height);
  margin-left: var(--key-margin-horizontal);
  border-radius: var(--key-radius);
  text-align: center;
}

.right_back {
  width: var(--back-width);
  height: var(--back-height);
}

/********* dot *********/
.dot {
  position: absolute;
  background-color: #F00;
  width: 5px;
  height: 5px;
  margin: 0;
}