:root {
  --key-width: 25.976px;
  --key-height: 33.249px;
  --key-margin: 7.273px; 
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-color: gray;
  margin: 0;
}

#values > p {
  margin: 0;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: yellowgreen;
}

#left_keyboard {
  float: left;
  background-color: darkgray;
}

#left_top {
  list-style-type: none;
  padding: 0 0 0 2.5mm;
  margin: 0;
}

#left_middle {
  list-style-type: none;
  padding: 0 0 0 2.5mm;
  margin: 0;
}

#left_bottom {
  list-style-type: none;
  padding: 0 0 0 2.5mm;
  margin: 0;
}

.left_key {
  background-color: gray;
  float: left;
  width: var(--key-width);
  height: var(--key-height);
  margin-right: var(--key-margin);
  margin-bottom: var(--key-margin);
  text-align: center;
}

#right_keyboard {
  float: right;
  padding-right: 0;
  background-color: darkgray;
}

#right_top {
  list-style-type: none;
  padding: 0 2.5mm 0 0;
  margin: 0;
}

#right_middle {
  list-style-type: none;
  padding: 0 2.5mm 0 0;
  margin: 0;
}

#right_bottom {
  list-style-type: none;
  padding: 0 2.5mm 0 0;
  margin: 0;
}

.right_key {
  background-color: gray;
  float: right;
  width: var(--key-width);
  height: var(--key-height);
  margin-left: var(--key-margin);
  margin-bottom: var(--key-margin);
  text-align: center;
}

.dot {
  position: absolute;
  background-color: #F00;
  width: 5px;
  height: 5px;
  margin: 0;
}