:root {
  --lt-padding-left: 3.5mm;
  --lm-padding-left: 10mm;
  --lb-padding-left: 3.5mm;
  --ls-padding-left: 3.5mm;
  --r-padding-right: 3.5mm;

  --letter-width: 34px; /*1024*6.25/196.25*/
  --letter-margin-horizontal: 9.131px; /*1024*1.75/196.25*/
  --letter-height: 41.725px; /*768*8.0/147.25*/
  --letter-margin-vertical: 9.127px; /*768*1.75/147.25*/
  --letter-radius: 4px;

  --shift-width: 41.743px; /*1024*8.0/196.25*/
  
  --l-symbol-width: 62.614px;
  --language-width: 34px;
  --mic-width: 34px;
  --l-space-width: 73px;

  --back-width: 41.743px; /*1024*8.0/196.25*/
  --enter-width: 62.614px; /*1024*12/196.25*/
  --close-width: 41.743px; /*1024*8.0/196.25*/
  --r-symbol-width: 98.6965px;
  --r-space-width: 98.6965px;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  background-color: gray;
  margin: 0;
}

#values > p {
  margin: 0;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: yellowgreen;
}

/********* left keyboard *********/
#left_keyboard {
  float: left;
  background-color: darkgray;
}

.left_row {
  list-style-type: none;
  height: var(--letter-height);
  margin: 0 0 var(--letter-margin-vertical) 0;
}

#left_top {
  padding-left: var(--lt-padding-left);
}

#left_middle {
  padding-left: var(--lm-padding-left);
}

#left_bottom {
  padding-left: var(--lb-padding-left);
}

#left_special {
  padding-left: var(--ls-padding-left);
}

.left_key {
  background-color: gray;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--letter-height);
  margin-right: var(--letter-margin-horizontal);
  border-radius: var(--letter-radius);
}

.left_letter {
  width: var(--letter-width);
}

.left_symbol {
  width: var(--l-symbol-width);
}

.language {
  width: var(--language-width);
}

.mic {
  width: var(--mic-width);
}

.left_space {
  width: var(--l-space-width);
}

/********* right keyboard *********/
#right_keyboard {
  float: right;
  padding-right: 0;
  background-color: darkgray;
}

.right_row {
  list-style-type: none;
  height: var(--letter-height);
  margin: 0 0 var(--letter-margin-vertical) 0;
  padding-left: 0;
  padding-right: var(--r-padding-right);
}

 
/* #right_top {
}

#right_middle {
}

#right_bottom {
} */

.right_key {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  height: var(--letter-height);
  margin-left: var(--letter-margin-horizontal);
  border-radius: var(--letter-radius);
}

.right_letter {
  width: var(--letter-width);
}

/********* right function **********/
.back {
  width: var(--back-width);
}

.shift {
  width: var(--shift-width);
}

.enter {
  width: var(--enter-width);
}

.close {
  width: var(--close-width);
}

.right_symbol {
  width: var(--r-symbol-width);
}

.right_space {
  width: var(--r-space-width);
}

/********* dot *********/
.dot {
  position: absolute;
  background-color: #F00;
  width: 5px;
  height: 5px;
  margin: 0;
}